<h1>PairBnB</h1>

<p> Email: <%= current_user.email %> </p>

<%= link_to "Sign in with Facebook", "/auth/facebook" %><br>
<% if signed_in? %>
  <%= link_to "All Listing", user_listings_path(current_user) %>
<% end %>
 